@page "/aboutAS"

<DoiarkiNet.Shared.Components.CarouselComponent></DoiarkiNet.Shared.Components.CarouselComponent>

<h5>О НАШЕЙ КОМПАНИИ</h5>
<p>Мы являемся сельхозпроизводителями по выращиванию пищевой продукции с не полным циклом производства, а также взращиванием и содержанием скота. Вся поставляемая продукция имеет всю разрешительную документацию</p>

@code {


}
