@page "/generalPage"

<h3>Главная</h3>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/image/ImgForCard1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">100% НАТУРАЛЬНОЕ</h5>
                <p class="card-text">Продукты не содержат — ГМО, глютен, ароматизаторы, добавки или примеси, и не подвергаются химической обработке.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/image/ImgForCard12.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Проверено по ВСЕМ стандартам</h5>
                <p class="card-text">Полный пакет сопроводительной документации и необходимых сертификатов на каждый продукт.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/image/ImgForCard3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">САМАЯ быстрая доставка</h5>
                <p class="card-text">Доставим по России и странам СНГ от 1 дня. Склад в Казани рядом с КазаньЭкспо.</p>
            </div>
        </div>
    </div>
</div>

@code {

}
